 <div>
    <h2>Create New Post</h2>
    <form class="new-post-form">
      <div>
        <label>Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label>Text</label>
        <textarea id="post-text" name="post-text"></textarea>
      </div>
      <button type="submit" class="submit-btn">Submit Post</button>
    </form>
  </div>


{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol class="dashboard-posts">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a class="edit-post" href="/dashboard/edit/{{post.id}}">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/add-post.js"></script>