{{> post-info post}}
{{> comments post.comments}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" class="comment-body"></textarea>
  </div>
  <div>
    <button type="submit" class="comment-btn">Add comment</button>
  </div>
</form>
{{/if}}
{{#if loggedIn }}
<script src="/js/comment.js"></script>
{{/if }}