body {
  background-color: rgb(49, 49, 49);
  color: rgb(0, 162, 255);
  font-family: "Montserrat", sans-serif;
  background-image: url(./images/shutterstock_1152185600-1440x1008-1-857x600.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar li {
  list-style: none;
  margin: -30px 10px 20px 0px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar:visited {
  color: white;
}

.login-container {
  display: flex;
  flex-wrap: no-wrap;
  width: 70%;
}

.login-form,
.signup-form {
  margin: 50px 150px;
  padding: 70px;
  width: 50%;
  text-align: center;
  border: 2px solid white;
}

label {
    display: block;
}

#email-signup, 
#username-signup, 
#password-signup,
#password-login,
#email-login {
    height: 30px;
    width: 150px;
    margin: 5px;
}

.post {
  border: 2px solid white;
  padding: 10px;
}

.post-text {
  color: white;
  margin-left: 10px;
}

.title a {
  text-decoration: none;
  color: rgb(123, 118, 228);
  margin: 0px 10px;
  font-size: 17px;
}

.comments {
  margin-left: 10px;
}

.homepage-posts {
  list-style: none;
  margin: 100px 20px;
}

.dashboard-posts {
  list-style: none;
  margin: 30px 20px;
}

.edit-post {
  color: white;
  background-color: rgb(123, 118, 228);
  padding: 5px;
  text-decoration: none;
}

.submit-btn,
.save-changes-btn,
.delete-post-btn,
.comment-btn {
  color: white;
  background-color: rgb(123, 118, 228);
  border: none;
  padding: 5px;
  margin: 5px 50px;
  font-size: 16px;
  width: 130px;
}

.submit-btn:hover,
.save-changes-btn:hover,
.delete-post-btn:hover,
.comment-btn {
  cursor: pointer;
}

.comment-btn {
    margin-left: 80px;
    margin-top: 5px;
}

.edit-post-form {
  margin: 20px;
}

.comment-body {
    width: 300px;
    height: 100px;
    margin-left: 80px;
    margin-top: 5px;
}

#post-title,
#post-text {
  width: 400px;
}

#post-title {
  height: 30px;
  margin-bottom: 5px;
  color:rgb(0, 162, 255);
}

#post-text {
  height: 80px;
}

#post-link {
    text-decoration: none;
}

.new-post-form {
  margin-left: 50px;
  margin-bottom: 50px;
}

.comments {
    color: rgb(184, 184, 184);
    margin: 5px;
}

.comment {
    margin-left: 70px;
    margin-right: 200px;
    padding: 20px;
    border: 1px solid rgb(236, 233, 233);
}


@media only screen and (max-width: 600px) {
  .login-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .login-form, .signup-form {
    margin: 20px;
    padding: 20px;
  }
  .navbar li {
    margin: 2px 20px;
    padding: 2px;
  }
  .navbar ul {
    justify-content: center;
  }
  .navbar {
    display: inline;
  }
}